bin
gen
.DS_Store
tmp
*.pyc
/happymoments/backups/
/happymoments-lite/local.properties
/happymoments-lite/keys/
/happymoments/local.properties
/happymoments-tests/.settings
/happymoments-tests/target
